body{
    margin: auto;
    text-align: center;
}

h1{
    font-size: 40px;
    text-align: center;
    color: cornflowerblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.tabelaSelecao{
    margin: auto;
    text-align: center;
    color: rgb(0, 0, 0);
}

.tabelaComparacoes{
    margin: auto;
    text-align: center;

   
}
.tituloTabela{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin: auto;
    padding: auto;
    text-align: unset;
    border: 2px solid rgb(46, 46, 46) ;
    color: rgb(190, 64, 33)

}
